body {
  background-image: linear-gradient(
    to bottom,
    map-get($colors, "background"),
    map-get($colors, "background-dark")
  );
  color: white;

  @include respond(mobile) {
    font-size: 90%;
  }
}

.intro {
  position: relative;
  display: flex;
  height: 100vh;
  overflow-x: hidden;

  nav {
    z-index: 10;
    ul {
      display: flex;
      position: absolute;
      flex-direction: column;
      top: 50%;
      left: 5%;
      transform: translateY(-50%);
      color: map-get($colors, "white");
      gap: 8rem;

      li {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      }
      .intro__discord {
        aspect-ratio: 1;
        &-container {
          display: flex;
        }
      }
    }

    @include respond(mobile) {
      display: none;
    }
  }

  &__navbar {
    &-link {
      display: flex;
    }

    &__text {
      display: flex;
      align-items: center;
      flex-grow: 1;
      padding-left: 1rem;
      color: transparent;
      transition: 0.2s ease;
      text-align: center;
    }

    &-main {
      display: flex;
      flex-direction: column;
      width: 6.8rem;
      height: min-content;
      background-color: map-get($colors, "black-light");
      border-radius: 4rem;
      gap: 3rem;
      padding: 2rem 1rem;
      transition: 0.4s ease;
      overflow: hidden;

      li {
        height: max-content;
        width: max-content;
      }

      &:hover {
        width: 18rem;
        .intro__navbar__text {
          color: map-get($colors, "gray-light-2");
        }
      }
    }
  }

  &__image {
    &__character {
      position: absolute;
      right: 0;
      bottom: 1.3rem;
      height: 90vh;

      @include respond(tablet) {
        right: -6rem;
        bottom: 0;
        height: 70vh;
      }

      @include respond(tablet-portrait) {
        right: -16rem;
        bottom: 0;
        height: 55vh;
      }

      @include respond(mobile) {
        right: -9rem;
        bottom: 0;
        height: 48vh;
      }
    }

    &__background {
      position: absolute;
      height: 100vh;
      width: 100vw;
      object-fit: cover;
    }
  }

  &__header {
    font-size: 6rem;
  }

  &__discord {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.4rem;
    background-color: map-get($colors, "black-light");
    border-radius: 50%;
  }

  &__text {
    margin: auto;
    font-size: 15rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;

    @include respond(tablet) {
      font-size: 10rem;
    }

    @include respond(mobile) {
      margin-bottom: auto;
      margin-top: auto;
      margin-left: 2rem;
      text-align: left;
      font-size: 6rem;
    }
  }

  @include respond(mobile) {
    height: 100vh;
  }
}

.download-item {
  margin-left: 1rem;
}
