.footer {
  height: 40vh;
  background-color: map-get($colors, "background-dark");
  border-top: 0.2rem solid map-get($colors, "soft");
  color: map-get($colors, "primary");
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__upper {
    &__header {
      font-size: 4rem;
      font-weight: bold;
      margin-bottom: 1rem;
      text-transform: uppercase;

      color: transparent;
      -webkit-text-stroke: 0.1rem map-get($colors, "gray");
      -webkit-text-fill-color: transparent;
    }

    &__nav {
      display: flex;
      justify-content: center;
      gap: 2rem;

      &__item {
        text-transform: uppercase;
        color: map-get($colors, "gray");
        font-weight: bold;
      }
    }
  }

  &__lower {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &__text {
      font-size: 1.5rem;
      color: map-get($colors, "gray-light");
      font-weight: 500;

      span {
        color: map-get($colors, "coopeak-color-1");
        text-decoration: underline;

        &:hover {
          color: map-get($colors, "coopeak-color-2");
        }
      }
    }
  }

  @include respond(mobile) {
    &__upper {
      &__header {
        font-size: 3rem;
      }

      &__nav {
        font-size: 1.6rem;
        flex-direction: column;
        gap: 1rem;
      }
    }

    &__lower {
      &__text {
        font-size: 1.2rem;
      }
    }
  }
}
